.preloader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(31, 106, 15, 0.4)
	z-index: 1
	display: flex
	justify-content: center
	align-items: center
	
	img
		width: 270px
		height: 270px