.header
	background-color: #001529
	display: flex
	justify-content: flex-end
	align-items: center
	padding: 0 5px
	min-height: 84px

	.loginBlock
		color: white
		margin-right: 20px
		font-size: 17px

		a, &-logOut
			text-decoration: none
			font-size: 23px
			cursor: pointer
			color: white

			&:hover
				transition: color 0.3s linear
				color: #1890ff

		&-loginName
			margin-right: 20px
			color: white
			cursor: none

		&-activeStyle
			font-weight: bold
			color: #1890ff !important

		&-separator
			padding: 0 10px
			font-size: 23px
			cursor: default

